* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}

body {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	color: black !important;
}

.container {
	margin: 0 auto;
	max-width: 140rem;
	color: black;
}

.link:visited, .link:active, .link:hover, .link{
  text-decoration: none;
}

.nav-bar {
  width: 100vw;
  display: flex;
  gap: 3rem;
  background-color: #FDF2E9;
  padding: 3rem 2rem;
  align-items: center;
}


.nav-bar a{
  font-size: 2rem;
  color: #333; 
  padding-right: 3rem;
  font-weight: 500;
}

.nav-bar img {
  height: 10rem;
  width: 10rem;
}

.company-name{
  margin-right: auto;
  color: orangered !important;
  font-size: 3rem !important;
  letter-spacing: .3rem;
  margin-left: 2rem;
}

.contact{
  background-color: orangered;
  border-radius: 1rem;
  padding: 1rem 2.4rem !important;
  color: white !important;
}


.header{
  background-color: #FDF2E9;
}

.main-header{
  /* max-width: 100vw; */
  /* margin: 0 auto; */
  /* background-image: url("./img/team1.jpeg"); */
  /* background-repeat: no-repeat; */
  display: flex;
  align-items: center;
  padding: 4.8rem 0;
  
}

.text-content{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  padding: 0 4rem;
}

.text-content h1{
  font-size: 5.2rem;
  font-weight: 600;
  letter-spacing: 0rem;
  line-height: 1.1;
  color: #333;
}

.text-content p{
  font-size: 2rem;
  line-height: 1.6;
  color: #555;
}

.buttons{
  display: flex;
  gap: 4rem;
}

.buttons a button{
  cursor: pointer;
}

.text-content button {
  align-self: flex-start;
  padding: 1.4rem 3rem;
  font-style: inherit;
  border: none;
  background-color: orangered;
  color: white;
  border-radius: .9rem;
  font-size: 2rem;
  font-weight: 500;
}


.learn-more{
  background-color: white !important;
  color: #333 !important;
  cursor: pointer;
}
.img{

}
.img img {
  width: 100%;
}


.expertise {
  padding: 5rem 0;
  text-align: center;
}

.expertise h2 {
  font-size: 3.2rem;
  color: #333;
  font-weight: 500;
  letter-spacing: .2rem;
  margin-bottom: 3rem;
}

.expertise p {
  font-size: 2rem;
  color: #555;
}

.cards{
  display: flex;
  margin-top: 4rem;
  gap: 5rem;
}

.card{
  background-color: #FDF2E9;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  padding: 3rem 1.5rem;
  border-radius: 3rem;
  transition: transform .4s;
  cursor: pointer;
}

.card h3 {
  font-size: 2.4rem;
  margin: 1rem 0;
}

.card:hover{
  transform: translateY(-.5rem);
}

.grid-3-cols{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5rem 0;
  row-gap: 4rem;
  column-gap: 5rem;
  justify-items: center;
}

.service-section {
  background-color: #fdf6f1;
}

.services{
  text-align: center;
  padding: 4rem ;
}

.services h3 {
  font-size: 3.4rem;
  font-weight: 600;
  color: #333;
}

.solution {
  background-color: white;
  padding: 3rem 1.5rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: transform .4s;
}

.solution:hover{
  transform: translateY(-.4rem);
}

.solution img {
  width: 5rem;
  height: 5rem;
  align-self: center;
}
.solution h4 {
  font-size: 2rem;
}

.solution p {
  font-size: 1.6rem;
}

.lets-talk{
  text-align: center;
  padding: 4.8rem;
  background-color: orangered;
  color: white;
}

.lets-talk p {
  font-size: 2rem;
}

.lets-talk h3 {
  font-size: 4rem;
}

.how-we-work{
  padding: 4.8rem 0;
}
.combine {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.how {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: flex-start;
  background-color: #FDF2E9;
  padding: 3rem 1.8rem;
  border-radius: 2rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.3);
}

.how p {
  font-size: 2rem;
}

.how h3 {
  font-size: 3.4rem;
  letter-spacing: 0rem;
  font-weight: 600;
}

.how button {
  background-color: orangered;
  border: none;
  padding: 1.6rem 2.4rem;
  color: white;
  font-size: 2rem;
  border-radius: 1.4rem;
}

.grid-2-cols{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  column-gap: 2rem;
}

.pro {
  background-color: white;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  padding: 2rem 1.6rem;
  border-bottom: .6rem solid orangered;
}

.pro h3{
  font-size: 5rem;
  color: orangered;
}

.pro h4 {
  font-size: 3rem;
}
.pro p {
  font-size: 2rem;
}

.why-choose-us{
  display: flex;
  gap: 5rem;
  align-items: center;
  padding: 5rem 0;
}
.why-choose-us img {
  width: 50%;
  height: 80rem;
}

.out-of {
  width: 80rem;
  height: 1rem;
  background-color: #555;
}

.actual {
  width: 90%;
  height: 1rem;
  background-color: orangered;
}
.actual2 {
  width: 95%;
  height: 1rem;
  background-color: orangered;
}
.actual3 {
  width: 95%;
  height: 1rem;
  background-color: orangered;
}
.actual4 {
  width: 90%;
  height: 1rem;
  background-color: orangered;
}
.actual5 {
  width: 80%;
  height: 1rem;
  background-color: orangered;
}
.actual6 {
  width: 75%;
  height: 1rem;
  background-color: orangered;
}



.stats {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.stats p {
  font-size: 2rem;
}

.stats h3 {
  font-size: 3.4rem;
  line-height: 1.2;
}

.per {
  display: flex;
}

.per {
  text-transform: uppercase;
}

.percentage {
  margin-left: auto;
}

.technologies{
  text-align: center;
  padding: 3.4rem 0;
}

.technologies p {
  font-size: 1.6rem;
  color: #333;
  letter-spacing: .3rem;
}

.technologies h3 {
  font-size: 3.4rem;
}

.grid-6-cols{
  display: grid;
  margin-top: 5rem;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 4rem;
}

.grid-6-cols img {
  height: 5rem;
  width: 10rem;
}


.about-section {
  background-color: #FDF2E9;
}

.about-us {
  padding: 3.4rem 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.about-us h2{
  font-size: 2rem;
  background-color: orange;
  width: fit-content;
  padding: 1rem 2rem;
  color: white;
  border-radius: 5rem;
} 

.about-us h4 {
  font-size: 5rem;
  font-weight: 600;
}

.about-us p {
  font-size: 2rem;
}

footer {
  background-color: #555;
  color: white;
  padding: 4.8rem;
  display: flex;
  justify-content: center;
  gap: 10rem;
  justify-items: center;
  align-items: center;
}
.branding {
  justify-self: center;
}

.branding img {
  width: 10rem;
  height: 10rem;
  text-align: center;
}


.branding p {
  font-size: 2rem;
  letter-spacing: .3rem;
}

.contact-detail {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.contact-detail h4 {
  font-size: 2rem;
}

.address {
  font-size: 1.6rem;
}

.gmail {
  font-size: 1.8rem;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.field{
  display: flex;
  flex-direction: column;
}

.email-subject{
  display: flex;
  gap: 4rem;
}

.form label {
  font-size: 2rem;
}

.submit-form{
  align-self: center;
  padding: 1.4rem 3rem;
  font-style: inherit;
  font-size: 2rem;
  border: none;
  background-color: orange;
  border-radius: 2.4rem;
  color: #333;
  text-transform: uppercase;
}



/******************************/
/****** CONTACT - PAGE ********/
/******************************/

.nav-bar a{
  padding-right: 0;
}

.form{
  background-color: #FDF2E9;
}
.contact-nav{
  display: flex;
  justify-content: center;
}

.contact-nav a{
  font-size: 5rem;
  font-weight: 600;
  color: orangered;
  letter-spacing: .3rem;
}

.contact-container {
	height: 100rem;
	max-width: 160rem;
	margin: 0 auto;
  margin-bottom: 10rem;
	border-radius: 10rem;
	padding: 4rem 10rem;
	background-color: white;
	display: grid;
	grid-template-columns: 1fr 2fr;
	column-gap: 10rem;
}

.profile-pic {
	width: 25rem;
	align-self: center;
}

.details {
	/* align-self: center; */
	justify-self: center;
	grid-row: 1 / 3;
	grid-column: 2;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.social-links {
	align-self: start;
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.details h1 {
	font-size: 4rem;
}

.details button {
	align-self: flex-start;
	box-shadow: 2.4rem 2.4rem 3.6rem rgba(0, 0, 0, 0.2);
}

.input {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}

.input label {
	font-size: 2.4rem;
}

.input input {
	font-family: inherit;
	align-self: flex-start;
	border: 0;
	border-bottom: 1px solid black;
	font-size: 2.4rem;
	width: 50rem;
	padding: 2rem 0;
}

.message textarea {
	height: 14rem;
	font-size: 2.4rem;
	font-family: inherit;
	padding: 2rem 0;
	border: 0;
	border-bottom: 1px solid black;
}

.message textarea:focus {
	outline: none;
	border-bottom: 1px solid violet;
	padding: 1rem 0;
	padding: 2rem 0;
}

.message textarea::placeholder {
	font-size: 2.4rem;
}

.input input:focus {
	outline: none;
	border-bottom: 1px solid violet;
	padding: 1rem 0;
	padding: 2rem 0;
}

.input input::placeholder {
	font-size: 2.4rem;
}

.details button {
	padding: 1.4rem 3rem;
	font-family: inherit;
	font-size: 1.8rem;
	border-radius: 10rem;
	background-color: black;
	color: white;
	border: none;
	cursor: pointer;
	margin-top: 3rem;
	transition: transform 0.3s;
}

.details button:hover {
	background-color: white;
	border: 2px solid black;
	color: black;
	transform: translateY(-0.3rem);
}

.details button:active {
	transform: translateY(.3rem);
}

.social-email h3 {
	font-size: 1.6rem;
	color: #555;
}

.social-email h2 {
	font-size: 2rem;
}

.social-media {
	display: flex;
	flex-direction: column;
	gap: 1.4rem;
}

.social-media h3 {
	font-size: 1.6rem;
	color: #555;
	cursor: pointer;
}

.social-media h2 {
	font-size: 2rem;
	cursor: pointer;
}

.social-a{
	color: black !important;
}

/* ********************************** */
/** 1. BELOW 1430px (Smaller desktops) **/
/* ********************************** */

@media (max-width: 89.3rem){

  .img img {
    width: 80%;
  }
  .cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10rem;
  }
}

/* ********************************** */
/** 2. BELOW 1182px (Smaller desktops) **/
/* ********************************** */

@media (max-width: 73.8rem){

  .img img {
    width: 80%;
  }
  .text-content h1 {
    font-size: 4rem;
  }

  .text-content p {
    font-size: 1.6rem;
  }

  .text-content button{
    font-size: 1.6rem;
    padding: 1rem 2rem;
  }

  .expertise p {
    padding: 0 3rem;
  }

  .input input{
    width: 30rem;
  }
}

/* ********************************** */
/** 3. BELOW 998px (Smaller desktops) **/
/* ********************************** */

@media (max-width: 62.3rem){
  .main-header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .img{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }

  .img img{
    width: 50%;
  }

  .main-header .buttons{
    justify-content: center;
  }

  .details h1{
    font-size: 3.2rem;
  }
  .contact-container{
    column-gap: 5rem;
  }
  .form{
    /* padding: 0 10rem; */
  }
}

/* ********************************** */
/** 4. BELOW 980px (Smaller desktops) **/
/* ********************************** */
@media (max-width: 61.25rem){
  .cards{
    grid-template-columns: 1fr;
    margin: 5rem 0rem;
  }

  .grid-3-cols{
    grid-template-columns: 1fr 1fr;
    padding: 0 0rem;
  }

  .contact-container{
    display: flex;
    flex-direction: column;
    height:max-content;
    align-items: center;
    gap: 5rem;
    padding-bottom: 5rem;
  }
  .profile-pic{

  }
  .contact-container .details{
    order: 2;
    align-self: center;
    /* text-align: center; */
  }
  .contact-container .social-links{
    align-self: center;
  }

  .details .submit{
    align-self: center;
  }

  .social-media{
    align-self: center;
  }
}
/* ********************************** */
/** 5. BELOW 665px (Smaller desktops) **/
/* ********************************** */
@media (max-width: 41.5rem){
  .company-name{
    font-size: 2.4rem !important;
  }
  .nav-bar {
    gap: 2rem;
    padding: 2rem 1rem;
  }
  .nav-bar a {
    /* padding-right: 0rem; */
  }

  .text-content h1{
    font-size: 3.4rem;
    letter-spacing: 0rem;
  }

  .it-services{
    font-size: 1.8rem !important;
    justify-self: end;
    padding-right: 0rem !important;
  }
  .nav-bar .contact {
    font-size: 1.8rem !important;
  }
  .lets-talk h3{
    font-size: 3.4rem;
  }
}
/* ********************************** */
/** 6. BELOW 550px (Smaller desktops) **/
/* ********************************** */
@media (max-width: 34.3rem){
  .cards{
    padding: 0 5rem;
  }
  .solution h4{
    font-size: 1.6rem;
  }
  .solution p{
    font-size: 1.4rem;
  }

  .company-name{
    margin-right: 0;
  }

  .nav-bar{
    flex-direction: column;
  }
  .img img{
    width: 80%;
  }

  .grid-3-cols {
    grid-template-columns: 1fr;
    padding: 0 7rem;
  }

  .lets-talk h3 {
    font-size: 2.8rem;
  }

  .services h3{
    font-size: 2.8rem;
  }

  footer{
    padding: 0 4rem;
    gap: 2rem;
  }
  .branding p {
    font-size: 1.2rem;
  }
  .contact-detail{
    gap: 3rem;
  }

  .details h1{
    font-size: 2.4rem;
  }

  .input label{
    font-size: 2rem;
  }
  .input input{
    font-size: 2rem;
    width: 20rem;
  }

  .details{
    align-items: center;
  }

  .details h1{
    font-size: 2rem;
    margin: 0 2rem;
    align-self: center;
  }
  .message textarea{
    width: 20rem;
  }

  .contact-nav a{
    font-size: 3.4rem;
  }

  .contact-container {
    padding: 0 2rem;
  }

  
}
/* ********************************** */
/** 7. BELOW 400px (Smaller desktops) **/
/* ********************************** */
@media (max-width: 25rem){
  .grid-3-cols{
    padding: 0 3rem;
  }
  .card h3{
    font-size: 1.8rem;
  }
  .card p{
    font-size: 1.6rem;
  }

  .lets-talk{
    padding: 3rem 2rem;
  }

  .services{
    padding: 3rem 2rem;
  }
}